<div class="md:hidden bg-blue-1000 pt-1 pb-1 text-center">
  <h3 class="text-3xl text-white text-shadow">Benjamin Iannetta, MBA</h3>
</div>
<header class="flex justify-center items-center pt-5 pb-5 bg-blue-950">
  <img class="border-0 rounded-full"
        width="300"
        src="/assets/profile.png" 
        alt="Benjamin Iannetta Profile" />
  <div class="hidden md:flex flex-col items-center w-3/5 text-white">
    <h1 class="text-6xl mb-1 text-shadow">Benjamin Iannetta</h1>
    <h4 class="text-2xl">MBA. Programmer. Analyst</h4>
  </div> 
</header>