<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Benjamin Iannetta, MBA</title>
  <script src="https://kit.fontawesome.com/034b751f46.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/assets/main.css">
</head>
<body class="bg-white h-screen">
  {%include header.html %} 
  <div class="container mx-auto mt-4 mb-4 text-xl flex flex-col md:flex-row">
    <div class="md:w-1/4">
      {% include sidebar.html %}
    </div>
    <div class="md:w-3/4">
      {{ content }}
      <div class="text-white flex flex-wrap text-base">
        {% for item in site.data.skills %}
          {% for skill in item.skills %}
          <span class="bg-blue-950 leading-none p-1 m-0.5 rounded-md">{{ skill }}</span>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
  {%include footer.html %}
</body>
</html>